header {
  background-color: #5ea6d6;
  background-image: url(http://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
  height: 400px;
  width: 100%;
  margin-top: 5em;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-name {
  display: flex;
  justify-content: center;
  align-items: center;
}