.new-tweet {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.new-tweet h2 {
  font-family: 'Bungee', cursive;
  color: #545149;
}

.tweet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 55px;
}

.counter {
  font-family: 'Bungee', cursive;
  width: 100%;
  margin: 1em;
  text-align: right;
}

#tweet-text {
  width: 100%;
  height: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 4px solid #545149;
  background: #ffffff;
  border-top: 4px solid #545149;
  border-left: 4px solid #545149;
  border-right: 4px solid #545149;
}

.button-color {
  background-color: #4056a1;
  color: white;
  padding-top: 5px;
  width: 100px;
  font-family: 'Bungee', cursive;
}

.button-color:hover {
  color: #4056a1;
  background-color: #ffffff;
}

.timeago {
  width: 100%;
}