.new-tweet {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
}

.tweet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.counter {
  font-family: 'Bungee', cursive;
}

#tweet-text {
  width: 800px;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 4px solid #545149;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.tweet-button {
  padding-top: 0.5em;
  width: 100%;
  font-family: 'Bungee', cursive;
}

.button-color {
  background-color: #4056a1;
  color: white;
}